
/*-----------------send-----------------------*/
.send-center{
    text-align: center;
    position: relative;
    bottom: 1em;
}
.con-send,.con-send:focus{
    position: relative;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}
.con-send:hover{
    position: relative;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 8px 8px 2px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}
/*-----------------跳转send----------------------*/
.btn-understood{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 8em;
    height: 2em;
    background-color: rgb(227, 52, 52);
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.btn-understood:hover{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 8em;
    height: 2em;
    background-color: brown;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.btn-con-close{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 5em;
    height: 2em;
    background-color: rgb(153, 153, 153);
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.btn-con-close:hover{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    width: 5em;
    height: 2em;
    background-color: rgb(112, 112, 112);
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
    border: none;
}
.modal-body{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1'
}

.form-check-input:checked{
    background-color: rgb(227, 52, 52);
    border: none;
}
.form-check-input:focus{
    background-color: rgb(227, 52, 52);
    border: none;
    box-shadow: 0 0px 0px 3px rgb(255, 191, 191);
}
.form-check-input:checked{
    background-color: rgb(227, 52, 52);
    border: none;
}
.form-check-input:focus{
    background-color: rgb(227, 52, 52);
    border: none;
    box-shadow: 0 0px 0px 3px rgb(255, 191, 191);
}

/*-----------------版权-----------------------*/
.bottom-inc-con{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    background-color: brown;
    color: white;
    height:15em;

    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
}
.inc{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    letter-spacing:1px;
    position: relative;
    text-align: center;
    font-size: smaller;
    top: 7.5em;
}

/*------------------返回顶部--------------------*/
.ttop{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    height: 70px;
    width: 70px;
    padding: 0;
    border: none;
    border-radius: 50%;
    left: 88%;
    top:1em;
    color: brown;
    background-color: white;
}
@media screen and (max-width:700px){
    .ttop{
        left: 80%;
        height: 60px;
        width: 60px;
    }
}

.ttop-more{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    height: 70px;
    width: 70px;
    padding: 0;
    border: none;
    border-radius: 50%;
    left: 88%;
    top:1em;
    color: white;
    background-color: brown;
}
@media screen and (max-width:700px){
    .ttop-more{
        left: 88%;
        height: 60px;
        width: 60px;
    }
}
/*----------------------news 翻页-------------------------------*/
.butt{
    display: fixed;
    position: relative;
    top: 46em;
}


.pagination li a.page-link{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus
{
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    border: none;
    background-color: rgb(204, 72, 72);
    box-shadow:none;
    background: white;
}

.pagination li a.page-link:hover:before ,
.pagination li a.page-link:hover:after{
    content: '';
    background-color: brown;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;}

.pagination li a.page-link:before,
.pagination li a.page-link:after{
    content: '';
    background-color: rgb(190, 49, 49);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}


/*----------------------news 跳转-------------------------------*/
.cai{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}
.all-news{
    position: relative;
    padding-top:4em ;
    top: 2em;
    padding: 2em;
    width: 1100px;
    height: 1400px;
    width: 100%;
    height: auto;
    border-radius: 40px;/*圆角*/
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
}
.news-title{
    position: relative;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    text-align: center;
    font-size: 2em;
    padding-bottom:-1em;

}
.news-svg{
    position: relative;
    top: 18%;
    width: 40%;
    left: 58%;
}
.dayss{/*日期*/
    position: relative;

    left: 13em;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 16px;
    text-align: center;
    color: white;
    width: 8em;
    height: 2em;
    line-height: 2em;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
}
.ddaayy{
    position: relative;
    top: 0.35em;
}

.cai{

    position: relative;
    text-align: center;
}

.news-pic-memo{/*图片*/
    position: relative;
    max-width: 900px;
    max-height:500px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    justify-content: center;
    border-radius: 20px;/*圆角*/
}
.news-pic-memo img{
    position: relative;
    border-radius: 100px;/*圆角*/
    max-width: 900px;
    max-height:500px;


}
.ipcs img{

    position: relative;
    max-width: 900px;
    max-height:500px;
    background-color:antiquewhite;
    width: 100%;
    height: auto;
}
@media screen and (max-width:1000px){
    .news-pic-memo img{
        width: 20%;
        height: auto;
    }
    .memo{
        width: auto;
        font-size: 0.6em;
    }
    .all-news{
        position: relative;
        top: 4em;
    }
    .news-svg{
        position: relative;
        top: 18%;
        width: 80%;
        left: 10%;
    }

}
@media screen and (max-width:502){
    .news-pic-memo img{

        width: 80%;
        height: auto;
    }
    .news-title{
        font-size: 20px;
    }

}

.news-text-memo{/*文字*/
    margin: 0 auto;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    height: auto;
    position: relative;
    padding: 3em;
    font-size: medium;
    text-align: center;
}
.bottom-inc-news{
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    background-color: brown;
    color: white;
    height:15em;
    top: 10em;
    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
}

.bibi{
    top:7em;
    position: relative;
    text-align: center;
}
.back-to-news{/*返回按钮*/
    position: flex;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 15px 20px 5px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}
.back-to-news:hover{
    position: relative;

    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(227, 52, 52);
    box-shadow: 0 8px 8px 2px rgb(255, 191, 191);
    width: 8em;
    height: 2em;
    border-radius: 100px;/*圆角*/
    transition:All 0.4s ease-in-out;
}

/*------------------bio--------------------*/

.about-bio{/*about图片*/
    position: relative;
    bottom: 5em;
    max-width: 630px;
}


.bio{/*bio页面的内容div*/
    left: 1%;
    position:relative;
    top: 13em;
    max-width: 1300px;
    max-height: 650px;
    margin: 0 auto;
    border-radius: 40px;
}
.intro-a{

    padding-left: 3em;
    padding-right:0;
}
.intro-all{/*文字部分的全部div*/

    position: relative;
    padding:2em;
    bottom:10em;
    max-width: 750px;
    max-height: auto;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 8px 10px 2px rgb(255, 191, 191);
}

.bio-intro{/*大标题div*/
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    font-size: 50px;

}
.name{/*小标题div*/
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;
    font-size: 20px;
    padding-top:0.5em;

}
.story{/*介绍div*/
    font-size: 16px;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    position: relative;

    padding-top:1em;
}
.stand-pic{/*立绘*/
    position: relative;

    bottom:45em;
    display: block;
    left: 70%;
    max-width:260px;
    transition:All 0.4s ease-in-out;
}

.stand-pic img{
    position: relative;
    margin:0 auto;

}
@media screen and (max-width:900px){
    .intro-all{
        width:80%;
        height: auto;
    }
}
@media screen and (max-width:500px){
    .intro-all{
        width:80%;
        height: auto;
    }
    .stand-pic{
        left: 60%;
    }
    .about-bio{
        bottom:6em;
    }
}
.stand-pic img:hover{
    position: relative;
    margin:0 auto;
}
.stand-pic:hover{
    position: relative;
    bottom:45.5em;
    display: block;
    left:70%;
    max-width: 270px;
    transition:All 0.4s ease-in-out;
}

.bottom-inc-bio{/*bio页底部版权*/
    position: relative;
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    background-color: brown;
    color: white;
    height:15em;
    top:15em;
    box-shadow: 10px 0 25px 5px rgba(227, 52, 52, 0.544);
}
