
h1{
    text-align: center;

}


  h2 {
    padding: 0;
    margin: 0;
    position:absolute;
    top:6em;
    left:1em;
    }

#group{
  position: relative;
  top:10em;
  bottom: 21em;
  display: flex;
  justify-content: space-around;

}
    h5 {

      padding: 0;
      margin: 0;
      position:absolute;
      top:7em;
      left:1em;
    }
#return{
  position: relative;
  top:-0.5em;

}
#group23{
  background-color: #DCDCDC80;
  padding-bottom: 40px;
  position: relative;
  top:4em;

}

#group2{

      position: relative;
      top:1em;
      bottom: 20em;
      display: flex;
      justify-content: space-around;
      left:0em;
    }

    #group3 {

      position: relative;
      top:1em;
      display: flex;
      justify-content: space-around;
      left:0em;
    }
      h6 {
        padding: 0;
        margin: 0;
        position:absolute;
        top:27em;
        left:1em;
      }
